@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: larger;
  margin-bottom: 250px;
  background-color: #ebd7c1;
}
h1,
h2,
h3 {
  font-family: "Times New Roman", Times, serif;
  grid-area: titulo;
}
a {
  text-decoration: none;
  color: black;
}
li{
  list-style: none;
}
a:hover{
  text-decoration: underline;
  color: #000;
}
nav {
  background-color: #dbb68f;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  grid-area: nav;
}
.nav2 {
  display: none;
}
footer {
  margin-left: "20px";
  background-color: rgb(32, 32, 32);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  color: rgb(195, 193, 193);
  text-align: center;
  grid-area: footer;
}
h1 {
  margin: 20px;
  text-align: center;
}
main {
  margin: 20px;
}

/* INICIO */
#intro p {
  padding-left: 50px;
}
/* INTEGRANTES */
.grids-item-uno p,
.grids-item-uno h2,
.grids-item-cuatro ol li,
.grids-item-cuatro h2 {
  padding-bottom: 20px;
}
.grids-item-uno,
.grids-item-cuatro {
  background-color: rgba(0, 255, 255, 0.267);
  border-radius: 5%;
  padding: 2%;
  transition: all 1s;
  margin: 50px;
}
.grids-item-cuatro {
  padding-left: 35px;
}
.grids-item-dos,
.grids-item-tres {
  margin: 50px;
  background-color: rgba(8, 71, 71, 0.938);
  border-radius: 5%;
  padding: 1%;
  transition: all 1s;
}
.grids-item-dos img {
  height: 100%;
  width: 100%;
  border-radius: 3%;
}
.grids-item-tres img {
  height: 100%;
  width: 100%;
  border-radius: 3%;
}
.grids-item-uno:hover, .grids-item-dos:hover, .grids-item-tres:hover, .grids-item-cuatro:hover{
  transform: scale(0.9);
}
/* ADOPCIONES */
.animal {
  background-color: rgba(255, 255, 255, 0.274);
  box-shadow: 0 10px 90px #00000024;
  text-align: center;
  font-size: 20px;
  border-radius: 15px;
  border: solid;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: all 1s;
  margin: 30px;
}
.animal:hover{
  transform: scale(1.1);
}
.animal-body,
.animal-footer {
  padding: 10px;
}
.animal-body h2 {
  padding-bottom: 7px;
}
.animal .animal-header {
  position: relative;
  height: 200px;
}
.animal .animal-header .profile-img {
  width: 80%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
}
.animal-footer button {
  background-color: #f18e55;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
}
.animal-maya button {
  background-color: #f18e55;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 15px;
}
.animal-footer button:hover {
  background-color: #f34b18;
}
.prof1 {
  grid-area: prof1;
  margin-bottom: 30px;
}
.prof2 {
  grid-area: prof2;
  margin-bottom: 30px;
}
.prof3 {
  grid-area: prof3;
}

/* EVENTOS */
#contenedor-media {
  width: 70%;

}
.item-media{
  overflow: visible;
}



/* CONTACTO */
input[type="text"],
[type="email"],
select,
textarea {
  width: 70%;
  display: block;
  padding: 12px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: #f0e1d1;
  text-transform: uppercase;
  margin-left: 10%;
}
#agree {
  margin-left: 10%;
}
#submit {
  margin-left: 10%;
}
#submit,
#reset {
  background-color: #f18e55;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

#submit:hover,
#reset:hover {
  background-color: #f34b18;
}

#contactos img {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
#contactos p {
  display: inline-block;
  padding-bottom: 50px;
}
#contactos {
  grid-area: contacto;
}
#Contacto {
  background-image: url("../media/huesitos.png");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

/* TABLET */
@media screen and (min-width: 700px) and (max-width: 1200px) {
  /* INICIO */
  #intro img {
    display: block;
    width: 95%;
    max-width: 650px;
    margin: auto;
    padding-top: 20px;
  }
  #intro p {
    padding-left: 50px;
    padding-right: 50px;
  }

  /* INTEGRANTES */
  .grids-item-cuatro{
    padding-bottom: 10%;
  }
  
  /* ADOPCIONES */
  .prof1, .prof2{
    width: 40%;
  }
  .prof3 {
    width: 40%;
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .prof3 .animal-body {
    padding-bottom: 40px;
  }
  /* EVENTOS */

  .imag7 {
    display: none;
  }
  .imag5 {
    height: 79.7%;
  }
  /* CONTACTO */
  #contactos img {
    margin-left: 150px;
  }
}
@media screen and (min-width: 0px) and (max-width: 900px) {
  /* CONTACTO */

  #ubicacion,
  #telefono,
  #mail {
    display: block;
  }
  #ubicacion {
    margin-top: 50px;
  }
  #contactos {
    margin-left: 0;
  }
  #contactos img {
    margin-left: 40px;
  }
}
/* MOBIL */
@media screen and (max-width: 723px) {
  nav {
    display: none;
  }
  .nav2 {
    display: initial;
    position: relative;
    z-index: 99;
  }
  .nav2 {
    background-color: #dbb68f;
    width: 100%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    grid-area: nav;
  }
  .nav2 img {
    width: 40px;
  }
  .desplegable {
    position: absolute;
    width: 30%;
    visibility: hidden;
    opacity: 0;
  }
  .desplegable li a {
    display: list-item;
    padding: 15px;
    background-color: #dbb68f;
    border: dotted #f08e25;
  }

  .nav2 li:hover .desplegable {
    visibility: visible;
    opacity: 1;
  }
  /* INICIO */
  #intro img {
    display: block;
    width: 90%;
    max-width: 650px;
    margin: auto;
    padding-top: 20px;
  }
  #intro p {
    padding-left: 50px;
    padding-right: 50px;
  }

  /* INTEGRANTES */
  .grids-item-cuatro{
    padding-bottom: 30px;
  }
  /* ADOPCIONES */
  .animal{
    max-width: 70%;
  }
  .animal button {
    padding: 20px 30px;
  }

  .animal-header h1,
  h3 {
    padding-bottom: 20px;
  }

  /* CONTACTO */

  #submit,
  #reset {
    background-color: #f18e55;
    color: white;
    padding: 7px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
}

@media screen and (max-width: 466px) {
  .desplegable {
    width: 80%;
  }

  .grids-item-uno {
    margin-top: 40px;
  }
  .grids-item-cuatro {
    margin-bottom: 40px;
  }
  .grids-item-dos,
  .grids-item-tres {
    display: none;
  }
}
